## Observations and Insights

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_study = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [15]:
# Checking the number of mice.
ind_mice = mouse_study['Mouse ID'].value_counts()

total_mice = len(ind_mice)
     
print(f'This study used a total of {total_mice} mice.')

This study used a total of 249 mice.

In [16]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_data = mouse_study[mouse_study.duplicated(['Mouse ID', 'Timepoint'], keep = 'first')]

In [17]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [18]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

duplicate_mouse = mouse_study.loc[mouse_study['Mouse ID']=='g989']
duplicate_mouse

clean_data = mouse_study.drop(mouse_study.index[908:921])
clean_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [19]:
# Checking the number of mice in the clean DataFrame.
mice = clean_data['Mouse ID'].value_counts()

total_mice = len(mice)

total_mice

248

## Summary Statistics

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
clean_data['Drug Regimen'].unique()

# This method is the most straighforward, creating multiple series and putting them all together at the end.

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [26]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drug_summary = clean_data.groupby(['Drug Regimen'])
# This method produces everything in a single groupby function

drug_summary

## Bar and Pie Charts

In [46]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.
mice_per_drug = drug_summary['Mouse ID'].unique()
for drug in mice_per_drug[0]:
    mice_per_drug["Number of Mice"] = len(mice_per_drug[1])
mice_per_drug

Drug Regimen
Capomulin         [s185, x401, m601, f966, u364, y793, r554, m95...
Ceftamin          [a275, b447, b487, b759, f436, h531, j296, k21...
Infubinol         [a203, a251, a577, a685, c139, c326, c895, e47...
Ketapril          [a457, c580, c819, c832, d474, f278, f932, g10...
Naftisol          [a818, b559, e213, e291, e584, f993, j755, l70...
Placebo           [a262, a897, c282, c757, c766, e227, i477, i66...
Propriva          [a699, c927, g558, g570, i635, k603, l215, n48...
Ramicane          [k403, g791, s508, m546, z578, j913, n364, c75...
Stelasyn          [a366, a492, a963, b879, c402, f234, g867, h33...
Zoniferol         [a401, a788, b313, c264, c302, c559, d133, d16...
Number of Mice                                                   25
Name: Mouse ID, dtype: object

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen